/*!
Theme Name: Base-Theme
Theme URI: http://underscores.me/
Author: Lee Santer
Author URI: http://leesanter.co.uk
Description: Base Theme for WordPress & WooCommerce
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: base-theme
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Base-Theme is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
// Variables 

$owlHeight: 500px;

$navColor:	#686A69;
$textColor: #676968;
$lightGrey:	#EBEBEB;








@import "variables-site/variables-site";
@import "mixins/mixins-master";
@import "base/base-styling";

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
@import "normalize";

/*--------------------------------------------------------------
# Grid System
--------------------------------------------------------------*/
// @import "layout/grid-system";

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@import "typography/typography";

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
@import "elements/elements";

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
@import "forms/forms";

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
@import "navigation/navigation";

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
@import "modules/accessibility";

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
@import "modules/alignments";

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
@import "modules/clearings";

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
@import "site/secondary/widgets";

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
@import "site/site";

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
@import "modules/infinite-scroll";

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
@import "media/media";


/*################################# 
############# CODE HERE ######### */

// Testing Crap

.grey {
	background: lightgrey;
}

.blue {
	background: lightblue;
}

.pink {
	background: pink;
}




/*################################# 
############# GENERAL ########### */

body {
	font-family: 'Lato', sans-serif;
}

p {
	margin-top: 0;
}
a a:hover, a:active, a:focus {
	outline: 0;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Open Sans', sans-serif;
	margin-top: 0;
}

/*################################# 
############# HEADER ########### */


//SWAP BETWEEN HEADER STYLES

$header: null; // /fixed / relative(null)
$logo: null;

#header {
	@if $header == absolute {
		position: absolute;
		z-index: 99;
		.site-navigation {
			background: none;
		}
		#primary-menu {
			background: none;
		}

	} @else if $header == fixed {
		position: fixed;
		z-index: 99;
		background: orange;

	} @else {
		background: #fff;
		position: relative;
	}
}








#woocommerce_product-filtering {
	ul {
		margin: 0;
		padding-left: 0;
		li {
			display: inline-block;
			&:first-child {
				a {
					margin-right: 10px;
					margin-left: 0;
				}
			}
			a {
				margin-left: 10px;
				margin-right: 10px;
				text-decoration: none;
			}
		}
	}
	#woocommerce_filtering {
		text-align: right;
		a {
			margin-left: 10px;
			margin-right: 10px;
			display: inline-block;
			text-decoration: none;
		}
		#woo-search {
			position: relative;
			margin-right: 30px;
			&:before {
				content: "n";
				position: absolute;
				top: 2px;
				right: -20px;
				width: 20px;
				height: 20px;
				font-family: base-theme;
				font-size: 14px;
			}
		}
	}
}
#drop-down-filter, #drop-down-search {
	display: none;
	margin-bottom: 40px;
}

.drop-down {
	display: none;
	margin-bottom: 40px;
	&.search {
		a {
			text-decoration: none;
			font-size: 20px;
		}		
	}

	input[type="text"] {
		width: 90%;
		border: 0;
		position: relative;
		&:focus {
			border: 0;
			background: #f1f1f1;
			outline: none;
		}
	}
}