$margin: 50px;


.row{
    margin: 0;
    padding: 0 $margin/2 0;
    // overflow: auto;
    @include desktop {
            margin: 0;
            padding: 0 calc(((100% - 1260px) / 2) + #{$margin}) 0;
    }
    &.margin{
        margin-bottom: $margin;
        overflow: auto
    }
    &.container {
        max-width: 1260px;
        margin: 0 auto;
        padding: $margin/2 $margin/2 0;
        @include desktop {
            padding: $margin $margin 0;
        }
    }
    &.absolute {
        position: absolute;
        width: 100%;
        left: 0;
        z-index: 99;
        background: none;
    }
}

#content section {
    padding-top: $margin;
}



.col-container, .gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: flex-start;
    position: relative;
    &.lightbox-2-row, &.lightbox-3-row, &.lightbox-4-row, &.lightbox-5-row, &.lightbox-6-row{
        > a {
            display: block;
            flex: 0 1 auto;
            align-self: auto;
            margin-bottom: $margin;
            width: 100%;
            img{
                width: 100%;
            }
            @include mobile-small {
                    @include flexWidth(50%, 0.5);
            }
        }
        &.lightbox-2-row{
            > a {
                @include tablet {
                    @include flexWidth(50%, 0.5);
                }
            }
        }
        &.lightbox-3-row{
            > a {
                @include tablet {
                    @include flexWidth(50%, 0.5);
                }
                @include tablet-landscape {
                    @include flexWidth(33.33%, 0.666666);
                }
            }
        }
        &.lightbox-4-row{
            > a {
                @include tablet {
                    @include flexWidth(50%, 0.5);
                }
                @include tablet-landscape {
                    @include flexWidth(25%, 0.75);
                }
            }
        }
        &.lightbox-5-row{
            > a {
                @include tablet {
                    @include flexWidth(33.33%, 0.666666);
                }
                @include tablet-landscape {
                    @include flexWidth(20%, 0.80);
                }
            }
        }
        &.lightbox-6-row{
            > a {
                @include tablet {
                    @include flexWidth(50%, 0.5);
                }
                @include tablet {
                    @include flexWidth(33.33%, 0.666666);
                }
                @include desktop-small {
                    @include flexWidth(16.66%, 0.85);
                }
            }
        }
    }
    .col{
        flex: 0 1 auto;
        align-self: auto;
        margin-bottom: $margin;
        width: 100%;
        p:last-child{
            margin-bottom: 0;
        }
        &.two-col{
            @include tablet {
                @include flexWidth(50%, 0.5);
            }
        }
        &.three-col{
            @include tablet {
                @include flexWidth(50%, 0.5);
            }
            @include tablet-landscape {
                @include flexWidth(33.33%, 0.666666);
            }
        }
        &.four-col, &.one-quarter-col{
            @include tablet {
                @include flexWidth(50%, 0.5);
            }
            @include desktop-small {
                @include flexWidth(25%, 0.75);
            }
        }
        &.one-third-col{
            @include tablet {
                @include flexWidth(50%, 0.5);
            }
            @include tablet-landscape {
                @include flexWidth(33.33%, 0.5);
            }
        }
        &.two-thirds-col{
            @include tablet {
                @include flexWidth(50%, 0.5);
            }
            @include tablet-landscape {
                @include flexWidth(66.66%, 0.5);
            }
        }
        &.three-quarter-col{
            @include tablet {
                @include flexWidth(50%, 0.5);
            }
            @include desktop-small {
                @include flexWidth(75%, 0.5);
            }
        }
    }
}