#blog-post {
	padding-top: $margin;
	.blog-post-title {
		a {
			text-decoration: none;
		}
	}


	.blog-post-thumbnail {
		img {
				margin-bottom: $margin;
			}

	}
	.blog-post-date {
		a {
			text-decoration: none;
		}
	}

	.blog-post-excerpt {

	}
}