#bottom {
	padding-top: $margin;
	h2 {
		margin-bottom: 0;
		font-size: 24px;
	}
	p {
		font-size: 14px;
		&:last-child {
				margin-bottom: 0;
			}
		}
	.three-col:nth-child(2) {
		@include tablet {
			margin-left: 100px;
		}
	}
	.three-col:nth-child(3) {
		@include tablet {
			text-align: right;
		}
	}
	#logo-bottom {
		img {
			display: block;
			margin-bottom: 35px;
		}
	}
}

#end {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	font-size: 14px;
	padding-top: 10px;
	padding-bottom: 10px;
	p {
		margin-bottom: 0;
	}
}