/*--------------------------------------------------------------
>>> BASE HEADER STYLING
--------------------------------------------------------------*/

// Top

#top {
	display: flex;
    flex-flow: row wrap;
    align-items: center;
    height: auto;
    @media screen and (min-width: 526px) {
        justify-content: space-between;
    }
	.social, .contact {
		align-self: center;
		box-sizing: border-box;
		p, a {
			font-size: 14px;
			line-height: 24px;
			margin-bottom: 0;
			margin-top: 0;
			color: #c6cacc;
		}
	}
	.social {
		width: auto;
        margin: 0 auto;
        flex-grow: 1;
        justify-content: space-around;
        display: flex;
        @include tablet {
            flex-grow: 0;
            margin: 0;
        }
		a {
		    display: block;
		    float: left;
		    width: 38px;
		    height: 46px;
		    text-align: center;
		    font-size: 20px;
		    line-height: 2.55556em;
		    text-decoration: none;
		    &:hover {
		    	background: pink;
		    	color: white;
		    }
		}
		a.icon-phone, a.icon-envelope {
			display: block;
			@include tablet {
				display: none !important;
			}
		}
	}
	.contact {
		width: auto;
        margin: 0 auto;
		display: none;
		@include tablet {
			display: block !important;
			flex-grow: 0;
            margin: 0;
		}
		a {
			display: block;
			width: auto;
		    float: left;
		    height: 46px;
		    padding: 10px 5px;
		    font-size: 14px;
		    ine-height: 46px;
		    text-align: center;
		    text-decoration: none;
		    &:hover {
		    	background: pink;
		    	color: white;
		    }
		    &:first-child {
		    	margin-right: 30px;
		    	position: relative;
			    	&:before {
			    	content: " | ";
			    	width: 10px;
			    	height: 46px;
			    	top: 5px;
			    	right: -21px;
			    	position: absolute;
			    	font-size: 20px;
			    	color: #c6cacc;
			    }
		    }
		}
	}
}







// Header

#header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 100%;
    background: #fff;
    @include tablet {
    	background: none;
    }
    .site-branding {
    	display: flex;
    	align-items: center;
    	flex-shrink: 0;
    	height: 100px;
	    padding: 0;
	    img {
	    	vertical-align: bottom;
	    }
    }

    #site-navigation {
        display: block;
        flex: 1 0 auto;
    }

    #primary-menu {
    	position: relative;
		padding-top: 20px;
		> li {
			display: block;
			width: 100%;
			background: #fff;
			a {
				text-align: center;
				padding: 10px 0;
				margin-bottom: 10px;
				position: relative;
				&:last-child {
					margin-bottom: 0;
				}
				@include tablet {
					margin-bottom: 0;
				}
			}
		}
    	@include tablet{
    		width: auto;
	        list-style: none;
	        margin-top: 0;
	        padding-left:0;
	        height: 100px;
	        width: auto;
	        display: flex;
	        flex-flow: row nowrap;
	        flex: 1 0 auto;
	        justify-content: space-around;
	        @media screen and (min-width: 866px) { //Change number to when nav hits logo
	            justify-content: flex-end;
	        }
	        > li {
	            align-self: center;
	            flex: 0 0 auto;
	            width: auto;
	            background: none;
	            a {
	                padding: 10px 10px;
	                text-decoration: none;
	            }
	        }
    	}
    }
    .menu-toggle {
		position: absolute;
		top: 21px;
		right: 25px;
	}
}


