/*!
Theme Name: Base-Theme
Theme URI: http://underscores.me/
Author: Lee Santer
Author URI: http://leesanter.co.uk
Description: Base Theme for WordPress & WooCommerce
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: base-theme
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Base-Theme is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# GENERAL
# LAYOUT
# PAGE-TEMPLATES
  - Blog
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# GENERAL
--------------------------------------------------------------*/
/*------------------------
# GRID
--------------------------*/
.row {
  margin: 0;
  padding: 0 25px 0; }
  @media (min-width: 1260px) {
    .row {
      margin: 0;
      padding: 0 calc(((100% - 1260px) / 2) + 50px) 0; } }
  .row.margin {
    margin-bottom: 50px;
    overflow: auto; }
  .row.container {
    max-width: 1260px;
    margin: 0 auto;
    padding: 25px 25px 0; }
    @media (min-width: 1260px) {
      .row.container {
        padding: 50px 50px 0; } }
  .row.absolute {
    position: absolute;
    width: 100%;
    right: 0;
    z-index: 99;
    background: none; }

#content section {
  padding-top: 50px; }

.col-container, .gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative; }
  .col-container.lightbox-2-row > a, .col-container.lightbox-3-row > a, .col-container.lightbox-4-row > a, .col-container.lightbox-5-row > a, .col-container.lightbox-6-row > a, .gallery.lightbox-2-row > a, .gallery.lightbox-3-row > a, .gallery.lightbox-4-row > a, .gallery.lightbox-5-row > a, .gallery.lightbox-6-row > a {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    -ms-flex-item-align: auto;
        -ms-grid-row-align: auto;
        align-self: auto;
    margin-bottom: 50px;
    width: 100%; }
    .col-container.lightbox-2-row > a img, .col-container.lightbox-3-row > a img, .col-container.lightbox-4-row > a img, .col-container.lightbox-5-row > a img, .col-container.lightbox-6-row > a img, .gallery.lightbox-2-row > a img, .gallery.lightbox-3-row > a img, .gallery.lightbox-4-row > a img, .gallery.lightbox-5-row > a img, .gallery.lightbox-6-row > a img {
      width: 100%; }
    @media (min-width: 600px) {
      .col-container.lightbox-2-row > a, .col-container.lightbox-3-row > a, .col-container.lightbox-4-row > a, .col-container.lightbox-5-row > a, .col-container.lightbox-6-row > a, .gallery.lightbox-2-row > a, .gallery.lightbox-3-row > a, .gallery.lightbox-4-row > a, .gallery.lightbox-5-row > a, .gallery.lightbox-6-row > a {
        width: calc(50% - 25px); } }
  @media (min-width: 725px) {
    .col-container.lightbox-2-row.lightbox-2-row > a, .col-container.lightbox-3-row.lightbox-2-row > a, .col-container.lightbox-4-row.lightbox-2-row > a, .col-container.lightbox-5-row.lightbox-2-row > a, .col-container.lightbox-6-row.lightbox-2-row > a, .gallery.lightbox-2-row.lightbox-2-row > a, .gallery.lightbox-3-row.lightbox-2-row > a, .gallery.lightbox-4-row.lightbox-2-row > a, .gallery.lightbox-5-row.lightbox-2-row > a, .gallery.lightbox-6-row.lightbox-2-row > a {
      width: calc(50% - 25px); } }
  @media (min-width: 725px) {
    .col-container.lightbox-2-row.lightbox-3-row > a, .col-container.lightbox-3-row.lightbox-3-row > a, .col-container.lightbox-4-row.lightbox-3-row > a, .col-container.lightbox-5-row.lightbox-3-row > a, .col-container.lightbox-6-row.lightbox-3-row > a, .gallery.lightbox-2-row.lightbox-3-row > a, .gallery.lightbox-3-row.lightbox-3-row > a, .gallery.lightbox-4-row.lightbox-3-row > a, .gallery.lightbox-5-row.lightbox-3-row > a, .gallery.lightbox-6-row.lightbox-3-row > a {
      width: calc(50% - 25px); } }
  @media (min-width: 850px) {
    .col-container.lightbox-2-row.lightbox-3-row > a, .col-container.lightbox-3-row.lightbox-3-row > a, .col-container.lightbox-4-row.lightbox-3-row > a, .col-container.lightbox-5-row.lightbox-3-row > a, .col-container.lightbox-6-row.lightbox-3-row > a, .gallery.lightbox-2-row.lightbox-3-row > a, .gallery.lightbox-3-row.lightbox-3-row > a, .gallery.lightbox-4-row.lightbox-3-row > a, .gallery.lightbox-5-row.lightbox-3-row > a, .gallery.lightbox-6-row.lightbox-3-row > a {
      width: calc(33.33% - 33.3333px); } }
  @media (min-width: 725px) {
    .col-container.lightbox-2-row.lightbox-4-row > a, .col-container.lightbox-3-row.lightbox-4-row > a, .col-container.lightbox-4-row.lightbox-4-row > a, .col-container.lightbox-5-row.lightbox-4-row > a, .col-container.lightbox-6-row.lightbox-4-row > a, .gallery.lightbox-2-row.lightbox-4-row > a, .gallery.lightbox-3-row.lightbox-4-row > a, .gallery.lightbox-4-row.lightbox-4-row > a, .gallery.lightbox-5-row.lightbox-4-row > a, .gallery.lightbox-6-row.lightbox-4-row > a {
      width: calc(50% - 25px); } }
  @media (min-width: 850px) {
    .col-container.lightbox-2-row.lightbox-4-row > a, .col-container.lightbox-3-row.lightbox-4-row > a, .col-container.lightbox-4-row.lightbox-4-row > a, .col-container.lightbox-5-row.lightbox-4-row > a, .col-container.lightbox-6-row.lightbox-4-row > a, .gallery.lightbox-2-row.lightbox-4-row > a, .gallery.lightbox-3-row.lightbox-4-row > a, .gallery.lightbox-4-row.lightbox-4-row > a, .gallery.lightbox-5-row.lightbox-4-row > a, .gallery.lightbox-6-row.lightbox-4-row > a {
      width: calc(25% - 37.5px); } }
  @media (min-width: 725px) {
    .col-container.lightbox-2-row.lightbox-5-row > a, .col-container.lightbox-3-row.lightbox-5-row > a, .col-container.lightbox-4-row.lightbox-5-row > a, .col-container.lightbox-5-row.lightbox-5-row > a, .col-container.lightbox-6-row.lightbox-5-row > a, .gallery.lightbox-2-row.lightbox-5-row > a, .gallery.lightbox-3-row.lightbox-5-row > a, .gallery.lightbox-4-row.lightbox-5-row > a, .gallery.lightbox-5-row.lightbox-5-row > a, .gallery.lightbox-6-row.lightbox-5-row > a {
      width: calc(33.33% - 33.3333px); } }
  @media (min-width: 850px) {
    .col-container.lightbox-2-row.lightbox-5-row > a, .col-container.lightbox-3-row.lightbox-5-row > a, .col-container.lightbox-4-row.lightbox-5-row > a, .col-container.lightbox-5-row.lightbox-5-row > a, .col-container.lightbox-6-row.lightbox-5-row > a, .gallery.lightbox-2-row.lightbox-5-row > a, .gallery.lightbox-3-row.lightbox-5-row > a, .gallery.lightbox-4-row.lightbox-5-row > a, .gallery.lightbox-5-row.lightbox-5-row > a, .gallery.lightbox-6-row.lightbox-5-row > a {
      width: calc(20% - 40px); } }
  @media (min-width: 725px) {
    .col-container.lightbox-2-row.lightbox-6-row > a, .col-container.lightbox-3-row.lightbox-6-row > a, .col-container.lightbox-4-row.lightbox-6-row > a, .col-container.lightbox-5-row.lightbox-6-row > a, .col-container.lightbox-6-row.lightbox-6-row > a, .gallery.lightbox-2-row.lightbox-6-row > a, .gallery.lightbox-3-row.lightbox-6-row > a, .gallery.lightbox-4-row.lightbox-6-row > a, .gallery.lightbox-5-row.lightbox-6-row > a, .gallery.lightbox-6-row.lightbox-6-row > a {
      width: calc(50% - 25px); } }
  @media (min-width: 725px) {
    .col-container.lightbox-2-row.lightbox-6-row > a, .col-container.lightbox-3-row.lightbox-6-row > a, .col-container.lightbox-4-row.lightbox-6-row > a, .col-container.lightbox-5-row.lightbox-6-row > a, .col-container.lightbox-6-row.lightbox-6-row > a, .gallery.lightbox-2-row.lightbox-6-row > a, .gallery.lightbox-3-row.lightbox-6-row > a, .gallery.lightbox-4-row.lightbox-6-row > a, .gallery.lightbox-5-row.lightbox-6-row > a, .gallery.lightbox-6-row.lightbox-6-row > a {
      width: calc(33.33% - 33.3333px); } }
  @media (min-width: 1000px) {
    .col-container.lightbox-2-row.lightbox-6-row > a, .col-container.lightbox-3-row.lightbox-6-row > a, .col-container.lightbox-4-row.lightbox-6-row > a, .col-container.lightbox-5-row.lightbox-6-row > a, .col-container.lightbox-6-row.lightbox-6-row > a, .gallery.lightbox-2-row.lightbox-6-row > a, .gallery.lightbox-3-row.lightbox-6-row > a, .gallery.lightbox-4-row.lightbox-6-row > a, .gallery.lightbox-5-row.lightbox-6-row > a, .gallery.lightbox-6-row.lightbox-6-row > a {
      width: calc(16.66% - 42.5px); } }
  .col-container .col, .gallery .col {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    -ms-flex-item-align: auto;
        -ms-grid-row-align: auto;
        align-self: auto;
    margin-bottom: 50px;
    width: 100%; }
    .col-container .col p:last-child, .gallery .col p:last-child {
      margin-bottom: 0; }
    @media (min-width: 725px) {
      .col-container .col.two-col, .gallery .col.two-col {
        width: calc(50% - 25px); } }
    @media (min-width: 725px) {
      .col-container .col.three-col, .gallery .col.three-col {
        width: calc(50% - 25px); } }
    @media (min-width: 850px) {
      .col-container .col.three-col, .gallery .col.three-col {
        width: calc(33.33% - 33.3333px); } }
    @media (min-width: 725px) {
      .col-container .col.four-col, .col-container .col.one-quarter-col, .gallery .col.four-col, .gallery .col.one-quarter-col {
        width: calc(50% - 25px); } }
    @media (min-width: 1000px) {
      .col-container .col.four-col, .col-container .col.one-quarter-col, .gallery .col.four-col, .gallery .col.one-quarter-col {
        width: calc(25% - 37.5px); } }
    @media (min-width: 725px) {
      .col-container .col.one-third-col, .gallery .col.one-third-col {
        width: calc(50% - 25px); } }
    @media (min-width: 850px) {
      .col-container .col.one-third-col, .gallery .col.one-third-col {
        width: calc(33.33% - 25px); } }
    @media (min-width: 725px) {
      .col-container .col.two-thirds-col, .gallery .col.two-thirds-col {
        width: calc(50% - 25px); } }
    @media (min-width: 850px) {
      .col-container .col.two-thirds-col, .gallery .col.two-thirds-col {
        width: calc(66.66% - 25px); } }
    @media (min-width: 725px) {
      .col-container .col.three-quarter-col, .gallery .col.three-quarter-col {
        width: calc(50% - 25px); } }
    @media (min-width: 1000px) {
      .col-container .col.three-quarter-col, .gallery .col.three-quarter-col {
        width: calc(75% - 25px); } }

.owl-outter {
  padding-top: 0;
  padding-bottom: 0; }
  .owl-outter .owl-carousel {
    position: relative; }
    .owl-outter .owl-carousel img {
      max-height: 500px;
      -o-object-fit: cover;
         object-fit: cover; }
    .owl-outter .owl-carousel .owl-nav {
      position: absolute;
      top: 50%;
      width: 100%;
      padding: 0 40px; }
      @media (min-width: 725px) {
        .owl-outter .owl-carousel .owl-nav {
          padding: 0 calc(((100% - 1260px)/2) + 24px); } }
      .owl-outter .owl-carousel .owl-nav .owl-prev {
        display: inline-block;
        float: right;
        position: relative; }
        .owl-outter .owl-carousel .owl-nav .owl-prev:before {
          content: "l";
          width: 40px;
          height: 40px;
          top: 0;
          right: 0;
          position: absolute;
          color: #686A69;
          font-family: base-theme;
          font-size: 40px; }
      .owl-outter .owl-carousel .owl-nav .owl-next {
        display: inline-block;
        float: left;
        position: relative; }
        .owl-outter .owl-carousel .owl-nav .owl-next:before {
          content: "m";
          width: 40px;
          height: 40px;
          top: 0;
          left: 0;
          position: absolute;
          color: #686A69;
          font-family: base-theme;
          font-size: 40px; }

/*--------------------------------------------------------------
# LAYOUTS
--------------------------------------------------------------*/
/*------------------------
# HEADER
--------------------------*/
/*--------------------------------------------------------------
>>> BASE HEADER STYLING
--------------------------------------------------------------*/
#top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto; }
  @media screen and (min-width: 526px) {
    #top {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  #top .social, #top .contact {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    box-sizing: border-box; }
    #top .social p, #top .social a, #top .contact p, #top .contact a {
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 0;
      margin-top: 0;
      color: #c6cacc; }
  #top .social {
    width: auto;
    margin: 0 auto;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (min-width: 725px) {
      #top .social {
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        margin: 0; } }
    #top .social a {
      display: block;
      float: right;
      width: 38px;
      height: 46px;
      text-align: center;
      font-size: 20px;
      line-height: 2.55556em;
      text-decoration: none; }
      #top .social a:hover {
        background: pink;
        color: white; }
    #top .social a.icon-phone, #top .social a.icon-envelope {
      display: block; }
      @media (min-width: 725px) {
        #top .social a.icon-phone, #top .social a.icon-envelope {
          display: none !important; } }
  #top .contact {
    width: auto;
    margin: 0 auto;
    display: none; }
    @media (min-width: 725px) {
      #top .contact {
        display: block !important;
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        margin: 0; } }
    #top .contact a {
      display: block;
      width: auto;
      float: right;
      height: 46px;
      padding: 10px 5px;
      font-size: 14px;
      ine-height: 46px;
      text-align: center;
      text-decoration: none; }
      #top .contact a:hover {
        background: pink;
        color: white; }
      #top .contact a:first-child {
        margin-left: 30px;
        position: relative; }
        #top .contact a:first-child:before {
          content: " | ";
          width: 10px;
          height: 46px;
          top: 5px;
          left: -21px;
          position: absolute;
          font-size: 20px;
          color: #c6cacc; }

#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background: #fff; }
  @media (min-width: 725px) {
    #header {
      background: none; } }
  #header .site-branding {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    height: 100px;
    padding: 0; }
    #header .site-branding img {
      vertical-align: bottom; }
  #header #site-navigation {
    display: block;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto; }
  #header #primary-menu {
    position: relative;
    padding-top: 20px; }
    #header #primary-menu > li {
      display: block;
      width: 100%;
      background: #fff; }
      #header #primary-menu > li a {
        text-align: center;
        padding: 10px 0;
        margin-bottom: 10px;
        position: relative; }
        #header #primary-menu > li a:last-child {
          margin-bottom: 0; }
        @media (min-width: 725px) {
          #header #primary-menu > li a {
            margin-bottom: 0; } }
    @media (min-width: 725px) {
      #header #primary-menu {
        width: auto;
        list-style: none;
        margin-top: 0;
        padding-right: 0;
        height: 100px;
        width: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
        -webkit-box-flex: 1;
            -ms-flex: 1 0 auto;
                flex: 1 0 auto;
        -ms-flex-pack: distribute;
            justify-content: space-around; } }
  @media screen and (min-width: 725px) and (min-width: 866px) {
    #header #primary-menu {
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end; } }
    @media (min-width: 725px) {
        #header #primary-menu > li {
          -ms-flex-item-align: center;
              -ms-grid-row-align: center;
              align-self: center;
          -webkit-box-flex: 0;
              -ms-flex: 0 0 auto;
                  flex: 0 0 auto;
          width: auto;
          background: none; }
          #header #primary-menu > li a {
            padding: 10px 10px;
            text-decoration: none; } }
  #header .menu-toggle {
    position: absolute;
    top: 21px;
    left: 25px; }

/*------------------------
# FOOTER
--------------------------*/
#bottom {
  padding-top: 50px; }
  #bottom h2 {
    margin-bottom: 0;
    font-size: 24px; }
  #bottom p {
    font-size: 14px; }
    #bottom p:last-child {
      margin-bottom: 0; }
  @media (min-width: 725px) {
    #bottom .three-col:nth-child(2) {
      margin-right: 100px; } }
  @media (min-width: 725px) {
    #bottom .three-col:nth-child(3) {
      text-align: left; } }
  #bottom #logo-bottom img {
    display: block;
    margin-bottom: 35px; }

#end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px; }
  #end p {
    margin-bottom: 0; }

/*--------------------------------------------------------------
# PAGE TEMPLATES
--------------------------------------------------------------*/
/*------------------------
# BLOG
--------------------------*/
#blog-post {
  padding-top: 50px; }
  #blog-post .blog-post-title a {
    text-decoration: none; }
  #blog-post .blog-post-thumbnail img {
    margin-bottom: 50px; }
  #blog-post .blog-post-date a {
    text-decoration: none; }

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
  clear: right; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*--------------------------------------------------------------
# Grid System
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  clear: both; }

p {
  margin-bottom: 1.5em; }

dfn, cite, em, i {
  font-style: italic; }

blockquote {
  margin: 0 1.5em; }

address {
  margin: 0 0 1.5em; }

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em; }

code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem; }

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

mark, ins {
  background: #fff9c0;
  text-decoration: none; }

big {
  font-size: 125%; }

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit; }

body {
  background: #fff;
  /* Fallback for when there is no custom background color defined. */ }

blockquote, q {
  quotes: "" ""; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: ""; }

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em; }

ul, ol {
  margin: 0 3em 1.5em 0; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li > ul,
li > ol {
  margin-bottom: 0;
  margin-right: 1.5em; }

dt {
  font-weight: bold; }

dd {
  margin: 0 1.5em 1.5em; }

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */ }

figure {
  margin: 1em 0;
  /* Extra wide images within figure tags don't overflow the content area. */ }

table {
  margin: 0 0 1.5em;
  width: 100%; }

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1;
  padding: .6em 1em .4em; }
  button:hover,
  input[type="button"]:hover,
  input[type="reset"]:hover,
  input[type="submit"]:hover {
    border-color: #ccc #bbb #aaa; }
  button:active, button:focus,
  input[type="button"]:active,
  input[type="button"]:focus,
  input[type="reset"]:active,
  input[type="reset"]:focus,
  input[type="submit"]:active,
  input[type="submit"]:focus {
    border-color: #aaa #bbb #bbb; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px; }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="password"]:focus,
  input[type="search"]:focus,
  input[type="number"]:focus,
  input[type="tel"]:focus,
  input[type="range"]:focus,
  input[type="date"]:focus,
  input[type="month"]:focus,
  input[type="week"]:focus,
  input[type="time"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="color"]:focus,
  textarea:focus {
    color: #111; }

select {
  border: 1px solid #ccc; }

textarea {
  width: 100%; }

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  color: royalblue; }
  a:visited {
    color: purple; }
  a:hover, a:focus, a:active {
    color: midnightblue; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation ul {
  display: none;
  list-style: none;
  margin: 0;
  padding-right: 0; }
  .main-navigation ul ul {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    float: right;
    position: absolute;
    top: 1.5em;
    right: -999em;
    z-index: 99999; }
    .main-navigation ul ul ul {
      right: -999em;
      top: 0; }
    .main-navigation ul ul li:hover > ul,
    .main-navigation ul ul li.focus > ul {
      right: 100%; }
    .main-navigation ul ul a {
      width: 200px; }
  .main-navigation ul li:hover > ul,
  .main-navigation ul li.focus > ul {
    right: auto; }

.main-navigation li {
  float: right;
  position: relative; }

.main-navigation a {
  display: block;
  text-decoration: none; }

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block; }

@media (min-width: 725px) {
  .menu-toggle {
    display: none; }
  .main-navigation ul {
    display: block; } }

.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden; }

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: right;
  width: 50%; }

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: left;
  text-align: left;
  width: 50%; }

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }
  .screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    right: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */ }

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0; }

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.alignright {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.aligncenter {
  clear: both;
  display: block;
  margin-right: auto;
  margin-left: auto; }

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
  table-layout: fixed; }

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both; }

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
  margin: 0 0 1.5em;
  /* Make sure select elements fit in widgets. */ }
  .widget select {
    max-width: 100%; }

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
  display: block; }

.hentry {
  margin: 0 0 1.5em; }

.byline,
.updated:not(.published) {
  display: none; }

.single .byline,
.group-blog .byline {
  display: inline; }

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0; }

.page-links {
  clear: both;
  margin: 0 0 1.5em; }

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word; }

.bypostauthor {
  display: block; }

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none; }

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block; }

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%; }

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%; }
  .wp-caption img[class*="wp-image-"] {
    display: block;
    margin-right: auto;
    margin-left: auto; }
  .wp-caption .wp-caption-text {
    margin: 0.8075em 0; }

.wp-caption-text {
  text-align: center; }

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em; }

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%; }
  .gallery-columns-2 .gallery-item {
    max-width: 50%; }
  .gallery-columns-3 .gallery-item {
    max-width: 33.33%; }
  .gallery-columns-4 .gallery-item {
    max-width: 25%; }
  .gallery-columns-5 .gallery-item {
    max-width: 20%; }
  .gallery-columns-6 .gallery-item {
    max-width: 16.66%; }
  .gallery-columns-7 .gallery-item {
    max-width: 14.28%; }
  .gallery-columns-8 .gallery-item {
    max-width: 12.5%; }
  .gallery-columns-9 .gallery-item {
    max-width: 11.11%; }

.gallery-caption {
  display: block; }

/*################################# 
############# CODE HERE ######### */
.grey {
  background: lightgrey; }

.blue {
  background: lightblue; }

.pink {
  background: pink; }

/*################################# 
############# GENERAL ########### */
body {
  font-family: 'Lato', sans-serif; }

p {
  margin-top: 0; }

a a:hover, a:active, a:focus {
  outline: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  margin-top: 0; }

/*################################# 
############# HEADER ########### */
#header {
  background: #fff;
  position: relative; }

#woocommerce_product-filtering ul {
  margin: 0;
  padding-right: 0; }
  #woocommerce_product-filtering ul li {
    display: inline-block; }
    #woocommerce_product-filtering ul li:first-child a {
      margin-left: 10px;
      margin-right: 0; }
    #woocommerce_product-filtering ul li a {
      margin-right: 10px;
      margin-left: 10px;
      text-decoration: none; }

#woocommerce_product-filtering #woocommerce_filtering {
  text-align: left; }
  #woocommerce_product-filtering #woocommerce_filtering a {
    margin-right: 10px;
    margin-left: 10px;
    display: inline-block;
    text-decoration: none; }
  #woocommerce_product-filtering #woocommerce_filtering #woo-search {
    position: relative;
    margin-left: 30px; }
    #woocommerce_product-filtering #woocommerce_filtering #woo-search:before {
      content: "n";
      position: absolute;
      top: 2px;
      left: -20px;
      width: 20px;
      height: 20px;
      font-family: base-theme;
      font-size: 14px; }

#drop-down-filter, #drop-down-search {
  display: none;
  margin-bottom: 40px; }

.drop-down {
  display: none;
  margin-bottom: 40px; }
  .drop-down.search a {
    text-decoration: none;
    font-size: 20px; }
  .drop-down input[type="text"] {
    width: 90%;
    border: 0;
    position: relative; }
    .drop-down input[type="text"]:focus {
      border: 0;
      background: #f1f1f1;
      outline: none; }
