// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Media Queries
$mobile-small-width: 600px;
$tablet-width: 725px;
$tablet-landscape-width: 850px;
$desktop-small-width: 1000px;
$desktop-width: 1260px;

@mixin mobile-small {
  @media (min-width: #{$mobile-small-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin tablet-landscape {
  @media (min-width: #{$tablet-landscape-width}) {
    @content;
  }
}

@mixin desktop-small {
  @media (min-width: #{$desktop-small-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

// Grid System

$hMargin: 40px;

@mixin flexWidth($width, $sum){
  $hMargin: #{$margin * $sum};
  width: calc(#{$width} - #{$hMargin});
}