.owl-outter {
	padding-top: 0;
	padding-bottom: 0;
	.owl-carousel {
		position: relative;
		img {
			max-height: $owlHeight;
			object-fit: cover;
		}
		.owl-nav {
				position: absolute;
				top: 50%;
				width: 100%;
				padding: 0 40px;
				@include tablet {
					padding: 0 calc(((100% - 1260px)/2) + 24px);
				}
				
			.owl-prev {
				display: inline-block;
				float: left;
				position: relative;
				&:before {
					content: "l";
					width: 40px;
					height: 40px;
					top: 0;
					left: 0;
					position: absolute;
					color: $navColor;
					font-family: base-theme;
					font-size: 40px;
				}
			}
			.owl-next {
				display: inline-block;
				float: right;
				position: relative;
				&:before {
					content: "m";
					width: 40px;
					height: 40px;
					top: 0;
					right:0;
					position: absolute;
					color: $navColor;
					font-family: base-theme;
					font-size: 40px;
				}
			}
		}
	}
}